body {
    min-width: 900px;
    font-family: 'helveticaneuecyrroman' ,sans-serif;
    font-size: 16px;
    line-height: 1.3;
    background: #fff;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.block
{
    padding: 30px 0;
}

.social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-image: url(../img/icons-social.png);
    background-repeat: no-repeat;
}

.fb {
    background-color: #2e3192;
    background-position: 0 0;
}

.tw {
    background-color: #00aeef;
    background-position: -50px 0;
}

.yt {
    background-color: #ed3123;
    background-position: -100px 0;
}

.in {
    background-color: #171a8f;
    background-position: -150px 0;
}
