
@media screen and (max-width: 720px) {
    .col {
        width: 50%;
        font-size: 14px;
    }
    .col:nth-child(3n) {
        clear: left;
    }

}

@media screen and (max-width: 480px) {
    .col {
        width: 100%;
        float: none;
    }
}
