body {
    min-width: 900px;
    font-family: arial ,sans-serif;
    font-size: 16px;
    line-height: 1.3;
    background: #fff;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.block {
    padding: 20px;
}

.form-block {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    padding: 0 0 20px;
}

.form-row .field {
    height: 28px;
    width: 300px;
    border: 1px solid gold;
    border-radius: 2px;
    padding: 0 10px;
}

.form-row .field:focus {
    background: pink;
}

.form-row label {
    display: block;
    padding-bottom: 5px;
}

.form-row span {
    display: block;
    padding-bottom: 5px;
}

.form-row .check {
    display: none;
}

.form-row input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
}

.form-row .check + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 20px;
    height: 20px;
    background: url(../img/ckeck-radio.jpg) -2px 0 no-repeat;
}

.form-row .check:checked + label::before {
    background-position: -2px -24px;
}

.form-row .select {
    height: 28px;
    width: 300px;
    border: 1px solid gold;
    border-radius: 2px;
    padding: 0 10px;
    color: red;
}

.form-row .select option {
    font-weight: bold;
    color: green;
    line-height: 30px;
}
