/* Стили для body */

body {
    background: #a2ca28;
    font-family: arial;
}

/* Стили для header */

header {
    height: 97px;
    background: #2e3b4e;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    padding-top: 33px;
    float: left;
}

.menu {
    float: right;
}

.menu li {
    display: inline-block;
    padding-left: 70px;
    padding-top: 25px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
}

/* Стили для бока block-items */

h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: normal;
    margin-top: 102px;
    margin-bottom: 48px;
}

.block-items {
    display: table;
}

.block {
    display: table-cell;
    vertical-align: top;
    padding-top: 0;
}

.block.block-item-1 {
    width: 35%
}

.block.block-item-2 {
    width: 35%
}

.block.block-item-3 {
    width: 30%
}

.block-items h4 a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
}

.block-item-1 .icon {
    width: 44px;
    height: 41px;
    display: inline-block;
    background-image: url(../img/case.png);
    background-repeat: no-repeat;
    margin-left: 5px;
}

.block-item-1 h4 {
    margin-top: 15px;
}

.block-item-1 .link-text {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.block-item-1 p {
    font-size: 14px;
    color: #fff;
    padding-right: 91px;
    line-height: 24px;
    margin-left: 5px;
}

.block-item-2 .icon {
    width: 45px;
    height: 44px;
    display: inline-block;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
}

.block-item-2 h4 {
    margin-top: 12px;
}

.block-item-2 .link-text {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.block-item-2 p {
    font-size: 14px;
    color: #fff;
    padding-right: 100px;
    line-height: 24px;
}

.block-item-3 .icon {
    width: 47px;
    height: 33px;
    display: inline-block;
    background-image: url(../img/cloud.png);
    background-repeat: no-repeat;
}

.block-item-3 h4 {
    margin-top: 22px;
}

.block-item-3 .link-text {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.block-item-3 p {
    font-size: 14px;
    color: #fff;
    padding-right: 30px;
    line-height: 24px;
}

.block-items .block-item-1 .link {
    margin-left: 5px;
}

.block-items .link {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 100% 65%;
}

.block-items .arrow {
    padding-left: 23px;
}


/* Стили для блока с картинками */

.pic.container {
    display: table;
    margin-top: 93px;
}

.pic {
    display: table-cell;
    vertical-align: top;
}

.pic-1 {
    width: 402px;
}

.pic-1 {
    background: #fff;
}

.pic-1 h5 {
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fd634e;
    margin: 0;
    padding-top: 56px;
    padding-left: 39px;
}

.pic-1 h4 {
    font-size: 35px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    color: #a2ca28;
    margin: 0;
    padding-left: 41px;
}

.pic-1 p {
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
    font-weight: normal;
    color: #656e74;
    margin: 0;
    padding-top: 20px;
    padding-left: 39px;
    padding-right: 50px;
    padding-bottom: 60px;
}

.pic-2 {
    background: #96bb25;
}

.pic-2 h4 {
    font-size: 40px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding-top: 56px;
    padding-left: 60px;
}

.pic-2 p {
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 60px;
}


/* Стили для footer */

footer {
    background: #0d1119;
    height: 97px;
    text-align: justify;
    height: 247px;
    margin-top: 107px;
}

.about {
    width: 460px;
    float: left;
}

footer .about h6 {
    color: #fff;
    font-size: 16px;
    padding-top: 60px;
    margin: 0;
    font-weight: normal;
}

footer .about p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.social {
    float: right;
}

.social h6 {
    color: #fff;
    font-size: 16px;
    padding-top: 60px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 28px;
}

.facebook i {
    background-color: #2e3192;
    width: 52px;
    height: 52px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.facebook i {
    background-image: url(../img/facebook.png);
}

.twitter i {
    background-color: #00aeef;
    width: 52px;
    height: 52px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.twitter i {
    background-image: url(../img/twitter.png);
}

.youtube i {
    background-color: #ed3123;
    width: 52px;
    height: 52px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.youtube i {
    background-image: url(../img/youtube.png);
}

.linkedin i {
    background-color: #171a8f;
    width: 52px;
    height: 52px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.linkedin i {
    background-image: url(../img/linkedin.png);
}
